/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
/.env
/.env.backup
/.env.production
/.phpunit.result.cache
/.fleet
/.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.DS_Store
node_modules
/dist

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*